body {
    background-color: #f8f9fa;
}

.card-header {
    background-color: #1a4a7c; /* A different color for SCM */
    color: white;
}

.card {
    border: none;
    border-radius: 0.75rem;
}

#seguimiento-container .card {
    border: 1px solid #dee2e6;
    margin-top: 1rem;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}
