body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    text-decoration: none;
}

.text-primary {
    color: #8A2BE2 !important; /* Un morado distintivo */
}

.btn-primary {
    background-color: #8A2BE2;
    border-color: #8A2BE2;
    padding: 0.75rem;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #7B24CB;
    border-color: #7B24CB;
}

.form-control:focus {
    border-color: #C7A4FF;
    box-shadow: 0 0 0 0.25rem rgba(138, 43, 226, 0.25);
}

.d-none {
    display: none;
}
